In [36]:
import pandas as pd
import numpy as np

In [2]:
desn = pd.read_csv('data/desagregados/desnutricion.csv')
em = pd.read_csv('data/desagregados/escaños_mujeres.csv')
gi = pd.read_csv('data/desagregados/govindex.csv')
hb = pd.read_csv('data/desagregados/hospital_beds.csv')

In [3]:
subset_paises = ['Argentina','Brasil','Bolivia','Perú','Uruguay','Paraguay','Ecuador','Colombia','Chile']

In [4]:
desn = desn[desn['Country Name'].isin(subset_paises)].replace('..', np.nan).drop('Series Code', axis = 1)
em = em[em['Country Name'].isin(subset_paises)].replace('..', np.nan).drop('Series Code', axis = 1)
gi = gi[gi['país Name'].isin(subset_paises)].replace('..', np.nan)
hb = hb[hb['Country Name'].isin(subset_paises)].replace('..', np.nan).drop('Series Code', axis = 1)

In [5]:
desn.columns = [x if 'YR' not in x else x.split(' ')[0] for x in desn.columns]
em.columns = [x if 'YR' not in x else x.split(' ')[0] for x in em.columns]
hb.columns = [x if 'YR' not in x else x.split(' ')[0] for x in hb.columns]

In [6]:
em = pd.melt(em, id_vars = ['Series Name','Country Name'], value_vars = ['1990', '2000', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']).rename(columns = {
    'variable':'year',
    'Country Name':'Country'
})

desn = pd.melt(desn, id_vars = ['Series Name','Country Name'], value_vars = ['1990', '2000', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']).rename(columns = {
    'variable':'year',
    'Country Name':'Country'
})

hb = pd.melt(hb, id_vars = ['Series Name','Country Name'], value_vars = ['1990', '2000', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']).rename(columns = {
    'variable':'year',
    'Country Name':'Country'
})

In [7]:
gi = gi[['tiempo','país Name','Control of Corruption: Estimate [CC.EST]']]
gi['Series Name'] = 'Control of Corruption Score'
gi.rename(columns = {
    'tiempo':'year',
    'país Name':'Country',
    'Control of Corruption: Estimate [CC.EST]':'value'
}, inplace = True)

In [8]:
data = pd.concat([
    desn, em, hb, gi
])

In [9]:
data.head()

                                       Series Name    Country  year value
0  Prevalencia de desnutrición (% de la población)  Argentina  1990   NaN
1  Prevalencia de desnutrición (% de la población)    Bolivia  1990   NaN
2  Prevalencia de desnutrición (% de la población)     Brasil  1990   NaN
3  Prevalencia de desnutrición (% de la población)      Chile  1990   NaN
4  Prevalencia de desnutrición (% de la población)   Colombia  1990   NaN

In [10]:
data['value'] = data['value'].astype(float)

In [58]:
data.to_csv('data/data.csv')

In [38]:
data = pd.read_csv('data/data.csv', index_col = 0)

data['Country'] = data['Country'].replace({'Perú':'Peru', 'Brasil':'Brazil'})

In [47]:
vars_ = ['nutr','escaños_mujeres','camas_hosp','corruption']

In [48]:
series = data['Series Name'].unique()

In [52]:
dic_vars = dict(zip(series,vars_))

In [53]:
dic_vars

{'Prevalencia de desnutrición (% de la población)': 'nutr',
 'Proporción de escaños ocupados por mujeres en los parlamentos nacionales (%)': 'escaños_mujeres',
 'Camas hospitalarias (por cada 1.000 personas)': 'camas_hosp',
 'Control of Corruption Score': 'corruption'}

In [56]:
data['vars'] = data['Series Name'].apply(lambda x: dic_vars[x])

In [57]:
data.head()

,Country,Series Name,year,value,ISO,vars
0,Argentina,Prevalencia de desnutrición (% de la población),1990,NaN,ARG,nutr
1,Argentina,Prevalencia de desnutrición (% de la población),2000,NaN,ARG,nutr
2,Argentina,Prevalencia de desnutrición (% de la población),2011,3.3,ARG,nutr
3,Argentina,Prevalencia de desnutrición (% de la población),2012,3.2,ARG,nutr
4,Argentina,Prevalencia de desnutrición (% de la población),2013,2.8,ARG,nutr

In [43]:
data[data['Series Name'] == 'Prevalencia de desnutrición (% de la población)']['year'].max()

2020

import plotly.express as px

df = px.data.gapminder().query("year==2007")

countries = [x for x in data['Country'].unique() if x in df['country'].unique()]

countries_iso = df[df['country'].isin(countries)][['country','iso_alpha']]

countries_iso.columns = ['Country','ISO']

countries_iso = countries_iso.set_index('Country')

data = data.set_index('Country').join(countries_iso, how = 'left').reset_index()

data['Country'] = data['Country'].replace({'Peru':'Perú', 'Brazil':'Brasil'})

data.to_csv('data/data.csv')